<body>
    <div style="margin-left: 40px;">
        <h2>Finalizar Compra</h2>
        <h3>Por favor, insira os dados para finalizar a compra.</h3>
        <form method="POST" id="form1" name="form1">
            <div class="inputData" style="margin-top: 10px;">
                <div class="form-group">
                    <label>
                        Nome: <input class="form-control" id="nome" name="nome" onblur="checkNome(this.value);"></label>
                    <span id="ErrorNome"></span>
                </div>
                <div class="form-group">
                    <label>CPF: <input class="form-control" id="cpf" name="cpf" onblur="checkCPF(this.value);"></label>
                    <span id="ErrorCpf"></span><br><br>
                </div>
                Endereço<br>
                <div class="form-group">
                    <label>Cep:
                        <input name="cep" class="form-control" type="text" id="cep" value="" size="10" maxlength="9"
                            onblur="pesquisacep(this.value);" /></label>
                    <span id="ErrorCep"></span>
                </div>
                <div class="form-group">
                    <label>Rua:
                        <input name="rua" class="form-control" type="text" id="rua" size="60" /></label>
                    <span id="ErrorRua"></span>
                </div>
                <div class="form-group">
                    <label>Bairro:
                        <input name="bairro" class="form-control" type="text" id="bairro" size="40" /></label>
                    <span id="ErrorBairro"></span>
                </div>
                <div class="form-group">
                    <label>Cidade:
                        <input name="cidade" class="form-control" type="text" id="cidade" size="40" /></label>
                    <span id="ErrorCidade"></span>
                </div>
                <div class="form-group">
                    <label>Estado:
                        <input name="uf" class="form-control" type="text" id="uf" size="2" /></label>
                    <span id="ErrorEstado"></span><br>
                </div>
                <div class="form-group">
                    <label>Número:
                        <input name="n" class="form-control" type="text" id="numero" size="2" /></label>
                    <span id="ErrorEstado"></span><br>
                </div>
                <div class="form-group">
                    <label>Email: <input class="form-control" id="email" name="email"
                            onblur="checkEmail(this.value);"></label>
                    <span id="ErrorEmail"></span><br><br>
                </div>
                <div class="form-group">
                    <label>Banco: <input class="form-control" id="banco" name="banco"></label>
                </div><br>
            </div>
            <table id="tabela" border="1">
                <tbody id="dadosTabela" name="tabela">
                </tbody>
            </table>
            <div class="btn-toolbar" style="margin-top: 20px;">
                <div>
                    <a class="btn btn-success" id='check' onclick="checkData()">FINALIZAR</a>
                </div>
                <div class="boletoGenerater" style="margin-left: 20px;">
                    <a class="btn btn-success" id='boleto' onclick="getBoleto()">Gerar Boleto</a>
                </div>
            </div>

        </form>
    </div>


    <script type="text/javascript">
        window.onload = function () {
            carregaTabela();
        };

        async function getBoleto() {
            let [resp, dados, listProdutos] = await getDatas();
            if (resp == 'Sucess') {
                let obj = {
                    dados, listProdutos
                }
                let xhr = new XMLHttpRequest();
                xhr.open("POST", '/gerar-boleto', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    pedido: obj
                }));
                //document.getElementById('check').href = '/gerar-boleto'
            }
        }

        function carregaTabela() {
            let carrinho = lerDados("Carrinho");
            let ValorTotal = 0
            let linha = '';
            for (let l = 0; l < carrinho.length; l++) {
                linha += `<tr>`
                let produto = `<td name="produto">${carrinho[l].produto.produto}</td>`
                let preco = `<td name="preco">${carrinho[l].produto.valor}</td>`
                let quant = `<td name="qtd">${carrinho[l].qtd}</td>`
                let totalitem = `<td name="valorTotal">${carrinho[l].produto.valor * carrinho[l].qtd}</td>`
                linha += produto
                linha += preco
                linha += quant
                linha += totalitem
                ValorTotal += (carrinho[l].produto.valor * carrinho[l].qtd);
                linha += `</tr>`
            }
            let val = valor(ValorTotal);
            let linhaTotal = document.createElement('tr')
            linhaTotal.innerHTML = `<tr><td colSpan = 3>Total</td><td>${val}</td></tr>`;
            let product = `<table border="1" >
                                    <thead>
                                        <tr>
                                            <th>Produto</th>
                                            <th>Valor unitário</th>
                                            <th>Quantidade</th>
                                            <th>Total do Item</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tabelaDinamica">
                                        <tr> ${linha} </tr>
                                        <tr> ${linhaTotal.innerHTML}</tr>
                                    </tbody>
                                </table>`
            let cont = document.createElement('div')
            cont.innerHTML += product
            document.getElementById("dadosTabela").appendChild(cont);
        };
        function atualizar(dados) {
            let linhas = document.getElementById(dados).rows;
            for (let i = linhas.length - 1; i >= 0; i--) {
                document.getElementById(dados).deleteRow(i);
            }
            carregaTabela();
        }

        async function checkData() {
            return new Promise(async (resolve, reject) => {
                let [resp, dados, listProdutos] = await getDatas();
                if (resp == 'Sucess') {
                    let obj = {
                        dados, listProdutos
                    }
                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", '/cadastrar-pedido/', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify({
                        pedido: obj
                    }));
                    document.getElementById('check').href = '/pedidos'
                }
            })
        }

        async function getDatas() {
            return new Promise(async (resolve, reject) => {
                let dados = {
                    "nome": $("#nome").val(),
                    "cpf": $("#cpf").val(),
                    "cep": $("#cep").val(),
                    "rua": $("#rua").val(),
                    "bairro": $("#bairro").val(),
                    "cidade": $("#cidade").val(),
                    "uf": $("#uf").val(),
                    "uf": $("#numero").val(),
                    "email": $("#email").val(),
                    "banco": $("#banco").val()
                }
                if (dados.nome == "" || dados.cpf == "" || dados.cep == "" || dados.rua == "" || dados.bairro == "" || dados.cidade == "" || dados.email == "") {
                    alert("Algum campo não foi preenchido!")
                    return;
                }
                if (!$("#ErrorNome").text() == "" || !$("#ErrorCpf").text() == "" || !$("#ErrorCep").text() == "" || !$("#ErrorEmail").text() == "") {
                    alert("Algum campo preenchido incorretamente!")
                    return;
                }
                let listProdutos = await obterProdutos(await lerDados("Carrinho"))
                resolve(["Sucess", dados, listProdutos])
            })
        }

    </script>
    <script src="../js/funcoes.js"></script>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
</body>

</html>