<body>

    <table id="tabela" class="table table-dark table-striped" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor unitário</th>
                <th>Quantidade</th>
                <th colspan="2">Total do Item</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="dados">

        </tbody>
    </table>


    <script type="text/javascript">
        window.onload = function () {
            carregaTabela();
        };

        function carregaTabela() {
            let carrinho = lerDados("Carrinho");
            let ValorTotal = 0;
            for (let i = 0; i < carrinho.length; i++) {
                let linha = document.createElement("tr");
                let coluna = document.createElement("td");
                coluna.textContent = carrinho[i].produto.produto;

                linha.appendChild(coluna);
                coluna = document.createElement("td");
                coluna.textContent = valor(carrinho[i].produto.valor);
                ValorTotal += (carrinho[i].produto.valor *
                    carrinho[i].qtd);
                linha.appendChild(coluna);
                coluna = document.createElement("td");
                coluna.textContent = carrinho[i].qtd;
                linha.appendChild(coluna);
                coluna = document.createElement("td");
                coluna.textContent = valor(carrinho[i].produto.valor *
                    carrinho[i].qtd);
                linha.appendChild(coluna);
                coluna = document.createElement("td");
                let adicionar = document.createElement("button");
                adicionar.innerText = "Adicionar";
                adicionar.className = "btn btn-light"
                adicionar.addEventListener("click", function () {
                    inserir("Carrinho", carrinho[i].produto);
                    atualizar("dados");
                });
                coluna.appendChild(adicionar);

                let subtrair = document.createElement("button");
                subtrair.innerText = "Remover"
                subtrair.className = "btn btn-light"
                subtrair.style = "margin-left:10px;"
                subtrair.src = "Remover";
                subtrair.addEventListener("click", function () {
                    retira("Carrinho", carrinho[i].produto.id);
                    atualizar("dados");
                });
                coluna.appendChild(subtrair);

                let lixo = document.createElement("button");
                lixo.className = "btn btn-light"
                lixo.style = "margin-left:10px;"
                lixo.innerText = "Lixo"
                lixo.addEventListener("click", function () {
                    excluir("Carrinho", carrinho[i].produto.id);
                    atualizar("dados");
                })
                coluna.appendChild(lixo);

                linha.appendChild(coluna);
                document.getElementById("dados")
                    .appendChild(linha);
            }
            let linha = document.createElement("tr");
            let celula = document.createElement("td");
            celula.textContent = "Total";
            celula.colSpan = 3;
            linha.appendChild(celula);

            celula = document.createElement("td");
            celula.textContent = valor(ValorTotal);
            linha.appendChild(celula);
            document.getElementById("dados").appendChild(linha);

            let checkout = document.createElement("a")
            checkout.innerText = "Finalizar Compra"
            checkout.style = "margin-left: 10px; margin-top: 5px;"
            checkout.className = "btn btn-success"
            checkout.href = "/cadastro"
            linha.appendChild(checkout);
            document.getElementById("dados").appendChild(linha);
        };
        function atualizar(dados) {
            let linhas = document.getElementById(dados).rows;
            for (let i = linhas.length - 1; i >= 0; i--) {
                document.getElementById(dados).deleteRow(i);
            }
            carregaTabela();
        }
        feather.replace()
    </script>

    <script src="../js/funcoes.js"></script>
</body>

</html>