<body>
    <div class="container">
        {{Produtos}}
    </div>

</body>
<script src="../js/funcoes.js" type="text/javascript"></script>
<script type="text/javascript">

    let pedidos = document.getElementsByClassName('trProduct')
    let listaDeProdutos = obterProdutos(pedidos, pedidos);
    function comprar(id) {
        for (let i = 0; i < listaDeProdutos.length; i++) {
            if (listaDeProdutos[i].id === id) {
                inserir("Carrinho", listaDeProdutos[i]);
                break;
            }
        }
        AtualizaCarrinho("itens");
    }

    function AtualizaCarrinho(local) {
        let carrinho = lerDados("Carrinho");
        if (carrinho !== null) {
            let total = 0;
            for (let i = 0; i < carrinho.length; i++) {
                total += carrinho[i].qtd;
            }
            document.getElementById(local)
                .textContent = total;
        }
        else {
            document.getElementById(local)
                .textContent = 0;
        }
    }
</script>
<script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>

</html>